*{
    padding: 0;
    margin: 0;
    font-family: Impact;
}
a{
    color: inherit;
    text-decoration: none;
}
.media{
    padding: 5px 0;
    background-color: aqua;
}
.media ul li{
    display: inline-block;
    color: aliceblue;
}
.container{
    width: 80%;
    margin: 0 auto;

}
.container:after{
    content:' ';
    display: block;
    clear: both;
}

header h1{
    float: left;
    padding: 15px 0;
    color: aqua;
}
header ul{
    float: right;
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: aqua;
    color: aliceblue;
}
.active{
    background-color: aqua;
    color: aliceblue;
}
.banner{
	height: 80vh;
	border: 1px solid;
	background-image: url(bg1.jpg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.3);
}
.banner h2{
	color: rgb(0, 0, 0);
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid rgb(0, 0, 0);
}
section{
	padding: 50px 0;
}
.image{
	width: 300px;
	height: 300px;
}
.tablee{
	background-color: rgb(64, 24, 210);
	border: #000000;
	margin-left:15%; 
    margin-right:15%;
	
}
.tablee tr td{
	font-family: Georgia;
	font-size: 20px;
	color: rgb(0, 0, 0);

}
.f1{
	background-color: #e67817;

}
.a{
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}
.image2{
	width: 300px;
	height: 300px;
}
